$font-family-clear-sans-light: "ClearSans-Light", sans-serif;
$font-family-clear-sans-regular: "ClearSans-Regular", sans-serif;
$font-family-roboto-regular: "Roboto-Regular", sans-serif;
$font-family-roboto-medium: "Roboto-Medium", sans-serif;
$font-family-ptsans-narrow-bold: "PTSans-NarrowBold", sans-serif;
$color-text: #000;
$color-main-dark: #b35f52;
$color-background: #fff;
$color-main-light: #f7ead6;

